{% extends "wijn/base.html" %}

{% block content %}
    <h1>Hallo, {% if request.user.is_authenticated %}{{ request.user.first_name }}{% else %}mede-wijnliefhebber!{% endif %}</h1>
    <p>Wij vinden wijn helemaal hip, maar weten we er eigenlijk iets van? Oefenen?
    <p>
      <a class="btn btn-primary btn-lg" href="{% url 'regio' %}" role="button">Regio's</a>
      <a class="btn btn-primary btn-lg" href="{% url 'regiokiezer-subregio' %}" role="button">Subregio's</a>
      <a class="btn btn-primary btn-lg" href="{% url 'regiokiezer-kleurmeerkeuze' %}" role="button">Kleur meerkeuzevraag</a>
      <a class="btn btn-primary btn-lg" href="{% url 'kleur' regio="all" %}" role="button">Kleuren</a>
      <a class="btn btn-primary btn-lg" href="{% url 'kleurperregio' %}" role="button">Kleur per regio</a>
      <a class="btn btn-primary btn-lg" href="{% url 'regiokiezer-druiven' %}" role="button">Druiven</a>
      <hr/>
      <h2>Buiten Frankrijk:</h2>
      <a class="btn btn-primary btn-lg" href="{% url 'landenkiezer-subregios2' %}" role="button">Subregio's</a>
      <a class="btn btn-primary btn-lg" href="{% url 'landenkiezer-streekdruiven' %}" role="button">Druiven</a>
      
    </p>
	</div>
</div>
{% endblock %}
