{% extends "wijn/base.html" %}

{% block content %}

{% if vraag %}
<div class="progress">
  <div class="progress-bar" role="progressbar" aria-valuenow="{{perc}}"
       aria-valuemin="0" aria-valuemax="100" style="width: {{perc}}%;
    text-align:left; padding-left: 1em">
    Score: {{ngoed}}/{{nvragen}}
  </div>
</div>

<div class="row">
<div class="col-sm-4"><h4>Appellation:</h4></div>
<div class="col-sm-8"><h4>{{vraag}}</h4></div>
</div>
<div class="row">
<div class="col-sm-4"><h4>Goede antwoord:</h4></div>
<div class="col-sm-8"><h4>{{goedeantwoord}}</h4>
</div>
</div>
<div class="row">
<div class="col-sm-4"><h4>Jouw keuze:</h4></div>
<div class="col-sm-8"><h4 class='{% if goed %}goed{% else %}fout{% endif %}'>{{keuze}}</h4></div>
</div>

<hr/>
{% endif %}


{% if nvragen == 20 %}
<h2> Overzicht </h2>
<p> Aantal vragen gesteld: {{nvragen}}</p>
<p> Score: {{ngoed}}/{{nvragen}}</p>

<a class="btn btn-primary btn-lg" href="{% url 'kleur' regio=regio %}" role="button">Nog een keer proberen</a>
<a class="btn btn-primary btn-lg" href="{% url 'index' %}" role="button">Terug naar begin</a>


{% else %}


<h3>Welke kleuren maken ze in <b>{{ ap.name }}</b>?</h3>

<form action="{% url 'kleur' regio=regio %}" method="post">
{% csrf_token %}
<input type='hidden' name='appellation' value='{{ap.id}}' />
<input type='hidden' name='nvragen' value='{{nvragen}}' />
<input type='hidden' name='ngoed' value='{{ngoed}}' />

<input type="checkbox" name="rood" id="rood" value="1" /><label for="rood">Rood</label><br/>
<input type="checkbox" name="wit" id="wit" value="1" /><label for="wit">Wit</label><br/>
<input type="checkbox" name="rose" id="rose" value="1" /><label for="rose">Rose</label><br/>
<input type="checkbox" name="mousserend" id="mousserend" value="1" /><label for="mousserend">Mousserend</label><br/>
<input type="checkbox" name="zoet" id="zoet" value="1" /><label for="zoet">Zoet</label><br/>

<input type="submit" value="Go!!!" />
</form>


{% endif %}

{% endblock %}
