{% extends "wijn/base.html" %}

{% block content %}


<h2>Kies hieronder een regio om de appellations te oefenen</h2>



<div class="row">
{% for regio in regiolijst %}
<div class="col-md-3 col-sm-4">
<a class="btn btn-primary btn-lg" href="{% url next regio=regio  %}"
   role="button" style="width:100%;margin-bottom: 1em"> {{regio}}</a>
</div>
{% endfor %}
<p>
</p>
<div class="col-md-3 col-sm-4">
<a class="btn btn-primary btn-lg" href="{% url next regio="all"  %}" role="button" style="width:100%">Alle regio's</a>
</div>


</div>



{% endblock %}

